body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.seats {
  display: flex;
  flex-wrap: wrap;
}

.seat {
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: #eee;
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.seat1 {
    width: 50px;
    height: 50px;
    margin: 5px;
    background-color: #030303;
    border: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }

  .seat2 {
    width: 50px;
    height: 50px;
    margin: 5px;
    background-color:transparent
  }

.seat.booked {
  background-color: #ccc;
  cursor: not-allowed;
}

.seat.selected {
  background-color: #ffcc00;
}

.payment {
  position: absolute;
  top: 50px;
  text-align: center;
  margin-top: 20px;
}

/* Add this CSS to style the dropdown */
.dropdown {
  position: absolute;
  top: 450px;
  display: inline-block;
}

.dropbtn {
  background-color: #534caf;
  color: white;
  padding: 10px;
  width: 150px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
